**/.dockerignore
**/*.Dockerfile
.git/
build/
**/node_modules/
**/__pycache__/
**/.git/
**/.github/
**/.clang-format
**/.clang-tidy
**/.gitignore
*.md
*.pdf
*.svg
*.png
*.jpg
dist/
.cache/
third_party/
3rdparty/
