[default]
extend-ignore-words = ["CANN", "ASO", "fre"]

[default.extend-words]
CANN = "CANN"
ASO = "ASO"
fre = "fre"

[files]
extend-exclude = [
  "mooncake-transfer-engine/tent/include/tent/thirdparty/nlohmann/json.h",
]